h1 {
	text-align: center;
	font-family: "Droid Serif", serif;
	font-style: italic;
	}
h2 {
	text-align: center;
}
}
a:link {
	color: Blue;
}
a:visited {
	color: Green;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}